// Import global material styles first so we can override as needed
@import url('../vendor/vue-material-master/dist/vue-material.css');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.inner-wrapper {
  padding: 24px;
  height: 100%;
  width: 100%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #42b983;
}

.cover-image {
  border-radius: 50%;
  max-height: 400px;
}

.bookmarks li {
  display: inline;
}

// Layout
.md-layout {

  > div {
    // padding: 8px 16px 0;
    width: 100%;
  }

}

.md-input-container {
  margin-bottom: 12px;
}

.md-gutter-16:not(.md-column) {
  margin-right: 0px;
  margin-left: -8px;
}

.md-gutter-8:not(.md-column) {
  margin-right: 0px;
  margin-left: -4px;
}

.gutter-8 {
  > * {
    padding: 8px;
  }
  *:first-child {
    padding-left: 16px;
  }
  *:last-child {
    padding-right: 16px;
  }
}

// Spacing
.text-center {
  text-align: center;
}